<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stationery Details</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
</head>
<style>
    /* body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqJM0H0nAlbjoJo42U87Sybp1rpOFs_K7V6A&usqp=CAU');
} */
    .stat-details{
        padding:0 12%;
    }
    .stat-title{
        margin-top: 50px;
    }
    .stat-title h1{
        font-weight: 600 ;
    }
    div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
    .smalldetails h2{
        font-family: 500;
    }
    .smalldetails h4{
        text-align:right;
        font-size: 25px;
    }
    .line{
        border:0;
        height: 1px;
        background: #ccc;
        width:100%;
        max-width: 800px;
        margin: 20px 0 50px;

    }
    .check-form{
        margin: 30px 0;
        background: white;
        box-shadow: 0 0 30px rgba(0,0,0,0.3);
        display: flex;
        flex-wrap: wrap;
        align-items:center ;
        padding: 10px 50px;


    }
    .check-form label{
        display: block;
    }
    .check-form div{
        padding:20px;
    }
    .check-form input{
        background: transparent;
        border: 0;
        outline: none;
    }
    .check-form button{
        background:#ff5361 ;
        border: 0;
        outline: none;
        color: #fff;
        padding: 18px;
        width: 350px;
        font-size: 16px;
        

    }
</style>
<body>
    <header>
        <div >
            <header>
                <nav class="nav">
                    <Bold style="margin-right: 10px;">Home</Bold>
                    <bold style="margin-right: 10px;">Stationery</bold>
                
                    <bold style="margin-right: 10px;">Xerox & Printout</bold>
        
                    <underline id="signin" style="display: inline;">Sign In</underline>
                    <hr>
        
        
        
                </nav>
                <div class="stat-details">
                    <div class = "stat-title">
                        <h1>Cartoon BT21 Gel Pen</h1>
                        <div class="row">
                            <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-duotone fa-star-sharp-half-stroke"></i>
                                        
                                        
                        </div>
                    </div>
                    <div class="scroll-container">
                        <img src="https://www.giftoo.in/cdn/shop/products/48-c-i-b-8-Phong-C-ch-BT21-BTS-Nh-t-B-n-H-n_jpg_Q90_jpg.webp?" alt="Cinque Terre" width="400" height="400">
                        <img src="https://images.meesho.com/images/products/186235525/qhexi_512.jpg" alt="Forest" width="400" height="400">
                        <img src="https://m.media-amazon.com/images/I/61WM96Bp33L.jpg" alt="Forest" width="400" height="400">
                        
                      </div>
                <div class="smalldetails">
                    <h2> Cartoon Pen</h2>
                    <p style="font-size: 25px;">Best Gel Pens for Smooth Writing –Cartoon gel Pen is lightweight, Slim design & easy grip which makes it perfect for long hours of writing.&nbsp; Pens for Students and Professionals – Fits well in the barrel of the pen and does not move with the core of the pen.&nbsp;</p>
                    <h4> Rs 22/-</h4>
                </div>
                <hr class="line">
                <form class="check-form">
                    <div class="pin">
                        <label>Enter Pin Code</label>
                    <input type="text" placeholder="Enter Pin Code">

                    </div>
                    
                    
                    <button type="button"><a href="cart.html">Add To Cart</a></button><br>
                    <button type="button"><a href="paymentcartoon.html">Order Now</a></button>


                </form>

                </div>