<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Book My Stationery</title>
        <link rel = "stylesheet" href = "styles.css">
        <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    </head>
    <style>
        .p{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .gift{
            background-color: whitesmoke;
        }
        .rey{
            display:flexbox;
            justify-items: center;
            justify-content: center;
            margin-left: 80px;
        }
        .det{
            display: flexbox;
            margin-left: 30px;
        }
        .price{
            display: flexbox;
            margin-right: 100px;
        }
        .h1{
            display: flex;
            justify-content: center;
        }
    </style>
    <body>
        <header>
            <nav class="nav">
                <Bold>Home</Bold>
                <bold>About</bold>
                <bold>Contact</bold>
    
                <underline id="signin" style="display: inline;">Sign In</underline>
                <hr>
    
    
    
            </nav>
            <main>
                <h1>Gel Pens</h1><hr>
<!-- <div class="gift">
                    
                <table>
                    <td>
                        <a href="r.html"><img src="https://images.jdmagicbox.com/quickquotes/images_main/reynolds_trimax_gold_gel_pen_10724844_0.jpg" alt="Reynolds' Trimax Gold" height="250px;" width="300px;"></a>
                        
                    </td>
                    <td>
                        <div class="rey">
                            <h3>Reynolds Trimax Gold</h3>
                            <div class="det">
                                <p > Product Description</p>


                            </div>
                            <p>
                                <ul>                
                                    <li>
                                        Water-resistant ink</li>
                               
                                        <li>For Smooth Writing</li>
                                    
                                        <li>Tip Size:- 0.5mm</li>
                                  

                                    
                        
                                </ul>
                            </p>
                          
                                   <div class="price">
                                    <p>Price Rs 99/-</p>

                                   </div>
                           
                        </td>
                    </table><hr>

    
    

                        </div> -->
                       
                </div>
                <div class="gift">
                    
                    <table>
                        <td>
                            <a href="/octane">  <img src="https://5.imimg.com/data5/JJ/OO/VZ/SELLER-33276151/gel-pen-octane-classmate-500x500.jpg" alt="Octane Gel" height="250px;" width="300px;"></a>
                          
                        </td>
                        <td>
                            <div class="rey">
                                <h3>Octane Gel</h3>
                                <div class="det">
                                    <p > Product Description</p>
    
    
                                </div>
                                <p>
                                    <ul>
                                        <li>
                                            Pack Of 1</li>
                                   
                                            <li>Water-Proof Ink for Smudge-Free writing</li>
                                        
                                            <li>Comfortable Grip</li>
                                      
    
                                        
                            
                                    </ul>
                                </p>
                              
                                       <div class="price">
                                        <p>Price Rs 10/-</p>
    
                                       </div>
                               
                            </td>
                        </table><hr>
    
        
        
    
                            </div>
                           
                    </div> 
                    
                    <div class="gift">
                    
                        <table>
                            <td>
                                <a href="/pilot"><img src="https://rukminim1.flixcart.com/image/300/300/pen/g/5/v/pilot-9000019568-original-imaehmzmywbzpxgh.jpeg" alt="Pilot Gel" height="250px;" width="300px;"></a>
                                
                            </td>
                            <td>
                                <div class="rey">
                                    <h3>Pilot Gel Pen</h3>
                                    <div class="det">
                                        <p > Product Description</p>
        
        
                                    </div>
                                    <p>
                                        <ul>
                                            <li>
                                                Retractable Gel Ink Rolling Ball Pens feature a Dynamic Gel Ink Formula. </li>
                                       
                                                <li>For Smooth Writing</li>
                                            
                                                
                                          
        
                                            
                                
                                        </ul>
                                    </p>
                                  
                                           <div class="price">
                                            <p>Price Rs 170/-</p>
        
                                           </div>
                                   
                                </td>
                            </table><hr>
        
            
            
        
                                </div>
                               
                        </div>
                        <div class="gift">
                    
                            <table>
                                <td>
                                    <a href="/cartoon"><img src="https://www.giftoo.in/cdn/shop/products/48-c-i-b-8-Phong-C-ch-BT21-BTS-Nh-t-B-n-H-n_jpg_Q90_jpg.webp?v=1671708657" alt="Cartoon Pen" height="250px;" width="300px;"></a>
                                    
                                </td>
                                <td>
                                    <div class="rey">
                                        <h3>Cartoon Pen</h3>
                                        <div class="det">
                                            <p > Product Description</p>
            
            
                                        </div>
                                        <p>
                                            This gel pen for kids who love eating extra service also.<br> The perfect gift for children in your life, build a happy relationship and strengthen the family bond, this is the right thing to do if you want to share happiness with your children.</br> In addition, it is a unique and beautiful souvenir.
            
                                                
                                    
                                            
                                        </p>
                                      
                                               <div class="price">
                                                <p>Price Rs 22-</p>
            
                                               </div>
                                       
                                    </td>
                                </table><hr>
            
                
                
            
                                    </div>
                                   
                            </div>
                            <div class="gift">
                    
                                <table>
                                    <td>
                                        <a href="lopet.html"><img src="https://img.staticdj.com/fe2b6b0e224acd8890aec0d091753f6f_750x.jpeg" alt="Lopet" height="250px;" width="300px;"></a>
                                        
                                    </td>
                                    <td>
                                        <div class="rey">
                                            <h3>Lopet</h3>
                                            <div class="det">
                                                <p > Product Description</p>
                
                
                                            </div>
                                            <p>
                                                 Pens to gift as souvneir.<br>
                                                 Blue color.
                                                 For Smooth Writing.
                                            </p>
                                          
                                                   <div class="price">
                                                    <p>Price Rs 100/-</p>
                
                                                   </div>
                                           
                                        </td>
                                    </table><hr>
                
                    
                    
                
                                        </div>
                                       
                                </div>
                                <div class="gift">
                    
                                    <table>
                                        <td>
                                            <a href="hauser.html"> <img src="https://kundantraders.co.in/cdn/shop/products/HauserGermanyXOGelPen_1024x.jpg?v=1663407815" alt="Hauser XO" height="250px;" width="300px;"></a>
                                           
                                        </td>
                                        <td>
                                            <div class="rey">
                                                <h3>Hauser XO Gel</h3>
                                                <div class="det">
                                                    <p > Product Description</p>
                    
                    
                                                </div>
                                                <p>
                                                    <ul>
                                                        <li>
                                                            Comfortable Grip</li>
                                                   
                                                            <li>For Smooth  and Smudge Free Writing</li>
                                                        
                                                            <li>Tip Size:- 0.5mm</li>
                                                      
                    
                                                        
                                            
                                                    </ul>
                                                </p>
                                              
                                                       <div class="price">
                                                        <p>Price Rs 10/-</p>
                    
                                                       </div>
                                               
                                            </td>
                                        </table><hr>
                    
                        
                        
                    
                                            </div>
                                           
                                    </div>
                                    <!-- <div class="gift">
                    
                                        <table>
                                            <td>
                                                <img src="https://rukminim2.flixcart.com/image/850/1000/jyg5lzk0/pen/h/b/g/uni-ball-uncgxsgr7bl6-original-imafeea2bwk78gnk.jpeg?q=90" alt="Uni-Click Gel" height="250px;" width="300px;">
                                            </td>
                                            <td>
                                                <div class="rey">
                                                    <h3>Reynolds Trimax Gold</h3>
                                                    <div class="det">
                                                        <p > Product Description</p>
                        
                        
                                                    </div>
                                                    <p>
                                                        <ul>
                                                            <li>
                                                                Triangular Rubber Grip Barrel</li>
                                                       
                                                                <li>Retractable Mechanism</li>
                                                            
                                                                <li>Tip Size:- 0.7mm</li>
                                                          
                        
                                                            
                                                
                                                        </ul>
                                                    </p>
                                                  
                                                           <div class="price">
                                                            <p>Price Rs 40/-</p>
                        
                                                           </div>
                                                   
                                                </td>
                                            </table><hr>
                        
                            
                            
                        
                                                </div>
                                               
                                        </div> -->
                                        <div class="gift">
                    
                                            <table>
                                                <td>
                                                    <a href="unicorn.html"> <img src="https://www.birthdayboom.in/wp-content/uploads/2023/02/Thumbnail.webp" alt="Reynolds' Trimax Gold" height="250px;" width="300px;">
                                                    </td></a>
                                                   
                                                <td>
                                                    <div class="rey">
                                                        <h3>Unicorn Pen</h3>
                                                        <div class="det">
                                                            <p > Product Description</p>
                            
                            
                                                        </div>
                                                        <p>
                                                            <ul>
                                                                <li>
                                                                    Unicorn Gel pen</li>
                                                           
                                                                    
                            
                                                                
                                                    
                                                            </ul>
                                                        </p>
                                                      
                                                               <div class="price">
                                                                <p>Price Rs 49/-</p>
                            
                                                               </div>
                                                       
                                                    </td>
                                                </table><hr>
                            
                                
                                
                            
                                                    </div>
                                                   
                                            </div>
                                           