<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMS</title>
    <link rel="stylesheet" href="home.css">
    <script src="https://kit.fontawesome.com/801ac07777.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
      *{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    position: fixed;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 1rem 6.5rem;
background-color: #4c4c4e;
z-index: 100000;
}

    
.nav h2{
    color: #fff;
    font-size: 1.7rem;
}

#item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li{
    list-style: none;
    padding-right: 50px;
}

#item li a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
}

#item li a:hover,#item .icon i:hover{
   color: #ff5733;
   cursor: pointer;

}
#item .icon i{
   color: white;
   padding-right: 30px;
   font-weight: bolder;
}


.back{
    background-image: url("../static/images/bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

.back .overlay{
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.mid p{
    color: #7f8c8d;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}
.mid h2{
    color: #7f8c8d;
    font-size: 3rem;
}
.mid .btn{
    margin-top: 2rem;

}

.mid .btn a{
    text-decoration: none;
    text-transform: uppercase;
    
}
.mid .btn a.simple{ 
    color: #fff;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
}


.mid .btn a.simple:hover{
    color: #ff5733;
}
.mid .btn a.border{ 
    color: #ff5733;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border: 1px solid #ff5733;
}

.mid .btn a.border:hover{
    background: #fff;
    border: 1px solid #fff;
}


.details{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
    background: #171819;
}

.details h3,h5,h6{
    color: white;
}
.details .one{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details .one h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}

.details .one h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
}

.details .one p{
    color: #666262;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}
.details .one a{
    color: white;
    background: #f13a11;
    padding: 1rem 01rem ;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.details .one a:hover{
    color: #f13a11;
    background: #fff;
}

.details .two{
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}
.details .two h3{
    font-size: 2.5rem;
    
}
.details .two h5{
    font-size: 1.1rem;
    
}
.details .two p{
    font-size: 1.1rem;
    color: #666262;
    margin-bottom: 0.8rem;
}

.shop{
    background: #f9f9f9;
    padding: 8rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.shop .about{
    width: 39%;
}
.shop .about h2{
color: #212529;
font-size: 2.1rem;
padding-bottom: 1.8rem;
}
.shop .about p{

    color: #7f8c8d;
    font-size: 1.1rem;
    
    }


.shop .picture{
width: 57%;
display: flex;
direction: row;
justify-content: space-between;
align-items: center;
}
.shop .picture .arya{
    width: 45%;
    height: auto;
    box-sizing: border-box;
    background: white;
    box-shadow:
  0.9px 1.9px 0.9px rgba(0, 0, 0, 0.022),
  2.2px 4.6px 2.2px rgba(0, 0, 0, 0.032),
  4.1px 8.6px 4.1px rgba(0, 0, 0, 0.04),
  7.4px 15.4px 7.4px rgba(0, 0, 0, 0.048),
  13.8px 28.8px 13.8px rgba(0, 0, 0, 0.058),
  33px 69px 33px rgba(0, 0, 0, 0.08)
}
.shop .picture .arya .img img{
    width: 100%;
    object-fit: cover;
}
.shop .picture .arya .name,.shop .picture .arya .pro{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.shop .picture .arya .name{
    padding: 5px 20px 0 20px;
}

.shop .picture .arya .aryadetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.shop .picture .arya .name h4{
    color: #212529;
    font-size: 1.5rem;
    
}

.shop .picture .arya .name i,.shop .picture .arya .pro i{
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color: #212529;
}
.shop .picture .arya .pro{
    padding: 0 20px 5px 20px;
}
.shop .picture .arya .pro h3{
    color: #212529;
    
}
.class{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 8rem;
}
.class .paragraph{
    font-size: 1.3rem;
    color: #95a5a6;
    padding-bottom: 6px;
    text-align: center;
}
.class .h2{
    font-size: 2.2rem;
    color: #222;
    font-weight: 700;
    padding-bottom: 50px;
    text-align: center;
}

.contact{
    padding: 8rem;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .form{
    width: 45%;
    height: 60vh;
}
.contact .form h2{
    font-size: 2rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}
.contact .form .submit{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact .form .submit input,.contact .form .submit textarea{
    width: 100%;    
    padding: 15px;
    border: 1px  solid #95a5a6;
    outline: none;
    margin: 13px 0;
}
.contact .form .submit input:focus , .contact .form .submit textarea:focus{
    border: 1px solid #111;

}
.contact .form .submit input::placeholder{
  color: #7f8c8d;
  font-size: 1.1rem;
}

.contact .form .submit textarea::placeholder{
    color: #7f8c8d;
    font-size: 1.1rem;
    height: 80%;
}
.contact .form .submit a{
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: #111;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    margin: 13px;

}
.contact .map{
    width: 45%;

}
.contact .map iframe{
    width: 100%;
    
}
#mapimage{
    width :"600";
    height:"450";
    border:0;
    /* allowfullscreen:"";
    loading:"lazy";
    referrerpolicy:"no-referrer-when-downgrade" */
}
    </style>
  </head>
  <body>
    <div class="nav">
      <h2>BMS</h2>
      <ul id="item">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="listing.new.html">Products</a></li>
        <li><a href="loginpage">LOGIN</a></li>
        <div class="icon">
          <i class="fab fa-whatsapp"></i>
          <i class="fab fa-linkedin-in"></i>
          <i class="far fa-envelope"></i>
        </div>
      </ul>
    </div>
    <div class="back">
      <div class="overlay"></div>
    </div>
    <div class="mid">
      <p>Academic Essentials</p>
      <h2>Book your Stationary with a click!</h2>
      <div class="btn">
        <a class="simple" href="#">Get Started</a>
        <a class="border" href="#">Learn More</a>
      </div>
    </div>
    <div class="details">
      <div class="one">
        <h3>New to BMS?</h3>
        <h6>Stop waiting in queue for buying pens, stationary, print outs, binding etc</h6>
        <p>With our website, you will be able to buy anything or print anything during submission week without any waiting time.</p>
        <a href="signup">Become a member</a>
      </div>
      <div class="two">
        <h3>Working hours</h3>
        <br>
        <h5>Sunday: Closed</h5>
        <br>
        <h5>Monday - Friday</h5>
        <p>9:00am - 5:00pm</p>
        <br>
        <h5>Saturday</h5>
        <p>11:00am - 5:00pm</p>
      </div>
    </div>
    <div class="shop">
      <div class="about">
        <h2>Hello, we are BMS</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <br>
        <br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet dictum sit amet. Id volutpat lacus laoreet non curabitur.
        </p>
      </div>
      <div class="picture">
        <div class="arya">
          <div class="img">
            <img src="/static/images/team1.jpg" alt="">
          </div>
          <div class="aryadetails">
            <div class="name">
              <h4>Campus Xerox</h4>
              <i class="fab fa-whatsapp"></i>
            </div>
            <div class="pro">
              <p>Campus Employee</p>
              <i class="far fa-envelope"></i>
            </div>
          </div>
        </div>
        <div class="arya">
          <div class="img">
            <a href="/stationary">
              <img  src="/static/images/team2.jpg" alt="Not found">
            </a>
          </div>
          <div class="aryadetails">
            <div class="name">
              <h4>Campus Stationary</h4>
              <i class="fab fa-whatsapp"></i>
            </div>
            <div class="pro">
              <p>Campus Employee2</p>
              <i class="far fa-envelope"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="form">
        <h2>Feel free to ask anything</h2>
        <div class="submit">
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
          <textarea placeholder="Message"></textarea>
          <a href="#">Send Message</a>
        </div>
      </div>
      <div class="maps">
        <h2>Where you can find us</h2>
        <p>
          <i class="fas fa-location-dot"></i>
          Sector-V, Nerul, Navi Mumbai, Maharashtra 400706
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.475549877529!2d73.02050307635396!3d19.04281805301107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c3db5e2c85cd%3A0xef26c52d7d73816e!2sSIES%20Graduate%20School%20of%20Technology!5e0!3m2!1en!2sin!4v1694633731137!5m2!1en!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </body>
</html>
